{% load widget_tweaks %}
<div class="form-group {% if field.errors|length > 0 %}has-error{% endif %}">
    <label class="col-lg-2 control-label">{{ name }}:</label>
    <div class="col-lg-10">

        <div class="uploader">
            {% render_field field class+='file-styled-primary' type='file' multiple=''  onchange=func accept="video/*" %}
            {% if val %}
                <span class="filename" style="user-select: none;">{{ val }}</span>
            {% endif %}
            <span class="action btn file-btn legitRipple" style="user-select: none;">Choose File</span>
        </div>
        {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
    </div>
</div>
