@font-face {
    font-family: 'iranSans';
    src: url('../fonts/iranSans.eot');
    src: url('../fonts/iranSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iranSans.woff') format('woff'),
    url('../fonts/iranSans.woff2') format('woff2'),
    url('../fonts/iranSans.ttf') format('truetype'),
    url('../fonts/iranSans.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'asiatech';
    src: url('../fonts/asiatech.eot?');
    src: url('../fonts/asiatech.eot?#iefix') format('embedded-opentype'),
    url('../fonts/asiatech.ttf?') format('truetype'),
    url('../fonts/asiatech.woff?') format('woff'),
    url('../fonts/asiatech.svg?#asiatech') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: iranSans !important;
    font-size: 13px;
    line-height: 1.5384616;
    color: #272b35;
    /*background-color: rgba(0, 0, 0, 0.94);*/
    /*background-image: url("");*/
    background-color: #272b35;
}

.navbar-default {
    /* background-color: #fff; */
    /* border-color: #ddd; */
    background-color: #272b35;
    border-color: #ddd;
}

.sidebar {
    background-color: #272b35;
}

.panel {
    /*background-color: #272b35;*/
    background-color: #1a1e27;
    color: white;
}

.panel-flat > .panel-heading {
    background-color: #1a1e27;
}

.form-control {
    color: white;
    background-color: #1a1e27;
    height: 40px;

}

.frAdmin-datatable {
    color: white;
}

.frAdmin-dashboard-datatable {
    color: white;
}

#dashboard-panel-heading {

    background-color: #1a222f;
}

.pantos_dropdown {
    color: white;
}

.element.style {
    color: white;
}

.file-btn {
    background-color: #246ec3;
}

.save-btn {
    background-color: #246ec3;
    color: white;
}

.reset-btn {
    background-color: #923c3c;
    color: white;
}

.btn-text {
    color: white;
}

.add-btn {
    background-color: #246ec3;
    color: white;
}

.panel-body-accent {
    background-color: #1a1e27;
}

.datepicker-plot-area * {
    text-align: center;
    color: white;
    font: inherit;
}

.datepicker-plot-area .datepicker-time-view {
    background: #272b35;
}

.datepicker-plot-area.datepicker-state-only-time {
    background-color: #1a1e27;
}
.edit-btn{
    background-color: #669236;
    color: white;
}
.log-btn{
    background-color: #af827c;
    color: white;
}