{% extends "layout/base.html" %}
{% load static %}

{% block base_content %}

    <script>
        {% if msg %}
            Swal.fire('{{ msg }}');
        {% endif %}
    </script>
    <div class="login-container  pace-done">
        <div class="page-container" style="min-height:619px">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Content area -->
                    <div class="content">

                        <form method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="panel panel-body login-form">
                                <div class="text-center">
                                    <div class="icon-object border-slate-300 text-slate-300"><i
                                            class="icon-reading"></i>
                                    </div>
                                    <h5 class="content-group">وارد حساب کاربری خود شوید
                                        <small class="display-block">اعتبارنامه خود را در زیر وارد کنید</small>
                                    </h5>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <input id="username" name="username" type="text" class="form-control" placeholder="نام کاربری">
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <input id="password" name="password" type="password" class="form-control" placeholder="رمز عبور">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn bg-pink-400 btn-block legitRipple">ورود<i
                                            class="icon-circle-left2 position-right"></i></button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!-- /main content -->
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <!-- /page container -->
{% endblock %}