{% extends "layout/page_headless.html" %}
{% load static %}
{% block base_pre_script %}
    <script type="text/javascript" src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>


{% endblock %}

{% block base_post_script %}
    <script type="text/javascript" src="{% static 'js/common/datatables_erebor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/ripple.min.js' %}"></script>
{% endblock %}

<!-- Content area -->

{% block content %}
    <!-- Individual column searching (selects) -->
    <div><br></div>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">روز و ساعات مجاز </h5>
        </div>
        <table id="group-table" class="table tab-content">
            <thead class="table-options m--hide">
            <tr>
                <th class="table-column">سال</th>
                <th class="table-column">ماه</th>
                <th class="table-column">روز</th>
                <th class="table-column">ورود</th>
                <th class="table-column">خروج</th>
            </tr>
            </thead>
            <tbody class="table-options">
            {% for item in table %}
                <tr>
                    <th>{{ item.year }}</th>
                    <th>{{ item.month }}</th>
                    <th>{{ item.day }}</th>

                    <th>{{ item.start }}</th>
                    <th>{{ item.end }}</th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /individual column searching (selects) -->
{% endblock %}

