{% extends "layout/page_headless.html" %}
{% load static %}

{% block content %}
    <br><br>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">درباره داتیس </h5>
        </div>
    </div>

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="content">
                <div class="card-body">
                    <h6 class="" style="font-size: large">سیستم تشخیص چهره پنتوس مدل آلفا</h6>
                    <br>
                    <p class="mb-3" style="color: lightslategrey">شرکت داتیس افتخار این را دارد که دستگاه تشخیص چهره
                        پنتوس مدل آلفا را به شما کاربر گرامی معرفی نماید .</p>

                    <p class="mb-3" style="color: lightslategrey">سیستم تشخیص چهره که در حال حاضر در دسترس شماست
                        برای اولین بار در دنیا و با افتخار ، تماماً در کشور عزیزمان ایران طراحی و پیاده سازی شده
                        است.</p>
                    <p class="mb-3" style="color: lightslategrey">این پک تشخیص چهره شامل کلیه نرم افزارها و سخت افزارهای
                        لازم برای تشخیص چهره در سازمانهای کوچک و متوسط طراحی شده است و از پیشرفته ترین نوع شبکه های عصبی
                        بر مبنای یادگیری عمیق طراحی شده در دنیا برای اولین بار دریک سخت افزار اقتصادی راه اندازی شده که
                        در نوع خود در دنیا بدون نمونه مشابه می باشد.</p>
                    <p class="mb-3" style="color: lightslategrey">سیستم تشخیص چهره پنتوس قابلیت این را دارد که فقط با یک
                        عکس از فرد بتواند عملیات شناسایی نفر مورد نظر را انجام دهد .</p>
                    <p class="mb-3" style="color: lightslategrey">از قابلیت های ویژه ی این محصول اتصال به سیستم اطلاع
                        رسانی از طریق نمایشگرهای اطلاع رسانی و خوش آمد گویی تصویری و همچنین خوش آمدگویی صوتی و اتصال به
                        انواع سیستم های کنترل دسترسی و رله های خروجی می توان نام برد.</p>

                    <p style="color: lightslategrey">برای مدیریت آسان این دستگاه ، وب سرویس تنظیمات این محصول نیز برای
                        دسترسی افراد از طریق شبکه طراحی شده که برای مدیریت آسان این محصول به راحتی قابل دسترس می باشد.
                    </p>
                    <br>
                    <br>
                    <p>برای کسب اطلاعات بیشتر لطفا به سایت شرکت پویش رایان داتیس به آدرس <a
                            href="http://www.datisint.com/">www.datisint.com</a> مراجعه نمایید و یا با شماره تلفن
                        74856-021 تماس حاصل فرمایید .</p>
                </div>
                <br>
                <td class="table-inbox-image">
                    <a href="https://www.instagram.com/datisint/"><img src="../static/images/instagram.jpg"
                                                                       class="img-circle img-xs" alt=""></a>
                    <a href="https://telegram.me/datisint_com"><img src="../static/images/telegram.png"
                                                                    class="img-circle img-xs" alt=""></a>
                </td>
            </div>
        </div>
    </div>
{% endblock %}
