{% extends "layout/page_headless.html" %}
{% load static %}

{% block content %}
    <br><br>
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">درباره داتیس </h5>
        </div>
    </div>

    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="content">
                <div class="card-body">
                    <h6 class="" style="font-size: large">شرکت بین المللی پویش رایان داتیس با هدف واردات، توزیع و ارائه
                        خدمات
                        پس از فروش، تجهیزات مداربسته تاسیس گردید.</h6>
                    <p class="mb-3" style="color: lightslategrey">هدف ما جلب رضایت و ارائه خدمات با کیفیت به مشتریان می
                        باشد و شرکت بین المللی داتیس
                        با ارائه محصولات مانيتور صنعتی و نمايشگر تجاری LG توسط واحدهای فروش و خدمات پشتیبانی متخصص خود
                        در این راستا می‌باشد.
                        داتیس با داشتن افتخار همکاری با شرکت های فعال در زمینه توزیع و همچنین شرکت های فعال در عرصه نصب
                        تجهیزات مداربسته در سراسر کشور محصولات مدار بسته LG و BRITON را با ضمانت نامه و گارانتی داتیس
                        وارد بازار پروژه های مداربسته می نماید.</p>

                    <h6 class="font-weight-semibold" style="color: green">شعار داتیس ارائه محصولات با کیفیت و خدمات
                        فراتر از استاندارد های
                        داخلی جهت کسب رضایت بالای مشتریان عزیز میباشد.</h6>
                    <p class="mb-3" style="color: lightslategrey">با توجه به اهمیت بالای ارائه خدمات پس از فروش برای
                        تجهیزات مداربسته این شرکت خدمات
                        پس از فروش مانيتورهای صنعتی و نمايشگرهای تجاری LG را به ۲۴ ماه و محصولات BRITON را به ۲ سال
                        افزایش داده است تا مشتریان نهایی محصولات با خیالی آسوده از خدمات این شرکت بهره برند.</p>
                    <p class="mb-3" style="color: lightslategrey">شبکه گسترده نمایندگی های شرکت داتیس در سراسر کشور و
                        همچنین در کشور های همجوار از
                        قبیل منطقه جنوبی عراق (بغداد)، منطقه اقلیم کردستان، افغانستان، آذربایجان، گرجستان و ارمنستان با
                        نظارت این شرکت به مشتریان نهایی شرکت بین المللی داتیس خدمات خود را عرضه مینمایند .</p>
                    <p class="mb-3" style="color: lightslategrey">از دیگر خدمات شرکت داتیس تامین مایحتاج پروژه های
                        مداربسته از قبیل UPS , STABILIZER ,
                        SERVER , BATTERY , SWITCH جهت پروژه‌های مداربسته و یا ارگانها و موسسات مالی و اعتباری می‌باشد و
                        مشتریان عزیز می‌توانند تجهیزات مورد نیاز خود را در کنار تهیه سایر اقلام تامین نمایند.</p>

                    <p style="color: lightslategrey">هدف ما جلب رضایت و ارائه خدمات با کیفیت به مشتریان می باشد و شرکت
                        بین المللی داتیس با ارائه
                        محصولاتت مانيتور صنعتی و نمايشگر تجاری LG توسط واحدهای فروش و خدمات پشتیبانی متخصص خود در این
                        راستا می‌باشد.
                        داتیس با داشتن افتخار همکاری با شرکت های فعال در زمینه توزیع و همچنین شرکت های فعال در عرصه نصب
                        تجهیزاتت مداربسته در سراسر کشور محصولات مدار بسته LG و BRITON را با ضمانت نامه و گارانتی داتیس
                        وارد بازار پروژه های مداربسته می نماید.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
